<div id="<%= dom_id usuario %>">
  <div>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= usuario.email %>
  </div>

  <div>
    <strong>Idade:</strong>
    <%= usuario.idade %>
  </div>

</div>
